@model CrudOp.Models.Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create Person</h2>

<form asp-action="Create">
    <div class="form-group">
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Mobile No</label>
        <input asp-for="MobileNo" class="form-control" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
